/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}

/* Basic Styles */
header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover,
nav ul li a.active-link {
    color: #f0a500;
}

/* Responsive Design */
@media only screen and (max-width: 600px) {
    nav ul li {
        display: block;
        margin: 10px 0;
    }

    header {
        padding: 20px 0;
    }

    .home-content h1 {
        font-size: 24px;
    }

    .home-content p {
        font-size: 18px;
    }

    .btn-primary {
        font-size: 18px;
    }
}

/* Hero Section */
.hero {
    background: url('https://c1jis.github.io/L4ith/assets/images/background.jpg') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    padding: 20px;
    animation: fadeIn 2s ease-in-out;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 24px;
    margin-bottom: 20px;
}

.btn-primary {
    padding: 10px 20px;
    background: #f0a500;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s ease;
}

.btn-primary:hover {
    background: #333;
}

/* Animations */
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

/* Other Sections */
section {
    padding: 60px 20px;
}

section h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 36px;
}

.profile-img {
    display: block;
    max-width: 150px;
    margin: 0 auto 20px;
    border-radius: 50%;
}

/* Footer */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

/* Smooth Scrolling */
html {
    scroll-behavior: smooth;
}
